In [3]:
import pandas as pd
df_householdsize = pd.read_excel('CO2_surveydata.xlsx', sheet_name='data', usecols=['H_F1'])
df=pd.read_excel('CO2_surveydata.xlsx', sheet_name='data')
df_list = []

In [4]:
# df_householdsize= pd.read_excel('CO2_surveydata.xlsx', sheet_name='data', usecols=['H_F1'])
df_fuel_percap = pd.DataFrame()
# df=pd.read_excel('CO2_surveydata.xlsx', sheet_name='data')
# fuels=['Electricity','City gas','LPG','Kerosene','Total energy','Gasoline','Diesel']
df_list = []
all_data = pd.DataFrame()
# df_fuel_percap=[]
for i in range(1,8):
    item_cols = [f'H6_3_{i}_{m}' for m in range(1,13)]
    df_fuel = df[item_cols]
    df_fuel_percap = df_fuel.div(df_householdsize.iloc[:, 0], axis=0)
    all_data = all_data.append(df_fuel_percap, ignore_index=True)   
    df_fuel_percap.to_excel('df_fuel_percap_{}.xlsx'.format(i), index=False)
all_data.to_excel('all_data.xlsx', index=False)

/var/folders/d7/p46qc1857_x7221pjnvz6rz80000gn/T/ipykernel_18350/3898619773.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df_fuel_percap, ignore_index=True)
/var/folders/d7/p46qc1857_x7221pjnvz6rz80000gn/T/ipykernel_18350/3898619773.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df_fuel_percap, ignore_index=True)
/var/folders/d7/p46qc1857_x7221pjnvz6rz80000gn/T/ipykernel_18350/3898619773.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df_fuel_percap, ignore_index=True)
/var/folders/d7/p46qc1857_x7221pjnvz6rz80000gn/T/ipykernel_18350/3898619773.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df_fuel_percap, ignore_index=True)
/var/folders/d7/p46qc1857_x7221pjnvz6rz80000gn/T/ipykernel_18350/3898619773.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df_fuel_percap, ignore_index=True)
/var/folders/d7/p46qc1857_x7221pjnvz6rz80000gn/T/ipykernel_18350/3898619773.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df_fuel_percap, ignore_index=True)
/var/folders/d7/p46qc1857_x7221pjnvz6rz80000gn/T/ipykernel_18350/3898619773.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df_fuel_percap, ignore_index=True)

In [5]:
df_ele=df_fuel_percap.iloc[:, :12]
# df = df.rename(columns={'N6_4_1':'Electricity','N6_4_2':'City gas','N6_4_3':'LPG','N6_4_4':'Kerosene','N6_4_5':'Total energy','N6_4_6':'Gasoline','N6_4_7':'Diesel'})
df_gas=df_fuel_percap.iloc[:, 12:24]
df_LPG=df_fuel_percap.iloc[:, 24:36]
df_Kero=df_fuel_percap.iloc[:, 36:48]
df_total=df_fuel_percap.iloc[:, 48:60]
df_Gaso=df_fuel_percap.iloc[:, 60:72]
df_Diesel=df_fuel_percap.iloc[:, 72:84]

fuels=['ele','gas','LPG','Kero','total','Gaso','Diesel']
months=['Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec','Jan','Feb','Mar']
cols = df_gas.columns.tolist()
new_cols = [f'{month}' for month in months]

df_gas

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[10015 rows x 0 columns]

In [6]:
df_elec_percap = pd.read_excel('df_fuel_percap_1.xlsx')
df_gasoline_percap = pd.read_excel('df_fuel_percap_2.xlsx')
df_lpg_percap = pd.read_excel('df_fuel_percap_3.xlsx')
df_kero_percap = pd.read_excel('df_fuel_percap_4.xlsx')
df_total_percap = pd.read_excel('df_fuel_percap_5.xlsx')
df_gaso_percap = pd.read_excel('df_fuel_percap_6.xlsx')
df_dies_percap = pd.read_excel('df_fuel_percap_7.xlsx')
df_gasoline_percap

,H6_3_2_1,H6_3_2_2,H6_3_2_3,H6_3_2_4,H6_3_2_5,H6_3_2_6,H6_3_2_7,H6_3_2_8,H6_3_2_9,H6_3_2_10,H6_3_2_11,H6_3_2_12
0,2.304,4.608,0.0,2.304,2.304,2.304,2.304,2.304,2.304,2.304,2.304,2.304
1,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
4,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...
10010,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
10011,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
10012,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
10013,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
10014,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000